.link-box {
  background-image: linear-gradient(to bottom, #0066ff 0%, #00adef  100%);
  padding: 11px 59px;
  border-radius: 18px;

}

.blog-thumb img {
  width: 244px;
  height: 255px;
  object-fit: cover;
}

@media (max-width: 450px) {
  .blog-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}

.link-box a {
  color: white;
}

.button-bike {
  /* background-image: linear-gradient(to bottom, #0066ff 0%, #00adef  100%); */
  /* padding: 11px 59px; */
  border-radius: 18px;
  color: black;
}

.portfolio-thumb img {
  padding: 1.5rem;
  width: 100%;
  height: 270px;
  object-fit: cover;
  /* padding: 2rem; */
  background: #F7F7F7;
}

@media (max-width: 450px) {
  .portfolio-thumb img {
    width: 320px;
    height: 320px;
    object-fit: cover;

  }
}

/* .portfolio-wrapper {
  background: #f0f0f0;
  border: 1px solid #00adef ;
  border-radius: 15px;
} */

.btn-furniture {
  padding: 0rem 1rem 1rem 1rem;
}

.service-user {
  background-color: #00adef ;
  border-radius: 15px;
}

.service-user p {
  color: white;
}

.service-text p {
  color: #00adef ;

}

.text-white h3 {
  color: white;
  letter-spacing: 4px;
}

.chat-us {
  background: linear-gradient(to bottom, #0066ff 0%, #00adef  100%);
  padding: 5px 24px;
  border-radius: 18px;
  color: white;
}

.buy-logo-img {
  padding-top: 0rem;

}

.buy-logo-img img {

  width: 11%;
}

@media (max-width: 450px) {
  .buy-logo-img img {
    width: 25%;
  }
}

.intro-area {
  background: #2f3440;

}

.single-couter h5 {
  color: #00adef ;

}

.intro-area span {
  color: yellow;
}

.sosial-links img {
  width: 100px;
  object-fit: contain;
  /* border: 1px solid; */
  padding: 17px;
}

.bg-white {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 17px;
}

.p_social {
  padding: 3rem;
  margin-left: 3rem;
}

.p_para h5 {
  margin-left: 22px;
  font-size: 13px;
  font-weight: 700;
  padding-top: 8px;
}

/* .p_sectionone{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 17px;
} */
.p_selectcity {
  padding: 5px;
  border-radius: 20px 20px 0px 0px;
  background: #2b3a48;
}

.p_selectcity h5 {
  padding: 6px;
  color: white;
  /* background: #2b3a48; */
}

.footer-widget h3::before {
  background: #00adef ;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 2px;
}

.header-bottom-area {
  background: #00adef ;
}

.header-button>a {
  /* border: 2px solid #666; */
  /* border-radius: 0; */
  color: #3b3f42;
  display: inline-block;
  font-weight: 600;
  padding: 14px 30px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
}

.header-top-area {
  background: #071f43;
}

.buy-logo img {
  width: 100%;
}
.buy-logo{
  padding: 0.8rem;
}

@media (max-width: 450px) {
  .input-search {
    margin-bottom: 1rem;
  }
}

.header-text {
  margin-top: 21px;
}

.header-rentol {
  color: black;
}

.header-number {
  color: white;
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-4 {
    max-width: 100%;
    flex: auto;
  }

  .authfy-panel-left,
  .authfy-panel-right {
    float: left;
  }

}

@media (min-width: 320px) and (max-width: 375px) {

  body {
    background-size: cover;
  }
}



.dust-paarticle {
  position: inherit;
  width: 100%;
  padding-bottom: 20rem;
}

/*#snell
{
  position:absolute;
  top:0;
  width:100%;
}*/

#eye1 {
  animation: swing ease-in-out .6s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
  left: calc(52% - .0rem);
}

#eye2 {
  animation: swing ease-in-out .5s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
  left: calc(40% - .0rem);
}


#dust-paarticle path {

  transform-box: fill-box;
  transform-origin: center;
}

/*************swing************/
@keyframes swing {
  0% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(-8deg);
  }
}


.position-set {
  position: absolute;
  top: 5%;
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');

/*--------------------*/
/* 02. Common CSS */
/*--------------------*/


body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #44525f;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2d385e;

}

a:focus {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
  color: #2d385e;
}

a,
a:hover,
a:focus {
  color: #4f77ff;
}

.btn-primary {
  background-color: #4f77ff;
  border-color: #4f77ff;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #486ff2;
  border-color: #486ff2;
}

label {
  float: left;
  font-weight: 700;
  color: black;
}

.btn.btn-lg {
  border-radius: 22px;
  box-shadow: 0px 2px 3px #9c9c9c;
  width: 30%;
  margin-bottom: 7px;
  font-size: 13px;
  padding: 14px;
}

/*.brand-logo {
  margin-top: 0px;
  margin-bottom: 35px;
}
*/
/*--------------------*/
/* 03. Section Panel UI CSS */
/*--------------------*/

.authfy-container {
  margin-top: 20px;
  margin-bottom: 87px;
}

.authfy-panel-left {
  background-color: rgb(12 14 33 / 92%);
  color: #ffffff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 3px 6px #1d2030;
  box-shadow: 0px 3px 6px #1d2030;
}

.authfy-panel-right {
  background-color: #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px 0px #1d2030;
  box-shadow: 0px 2px 6px 0px #1d2030;
}

.authfy-login,
.authfy-panel-left .brand-col {
  height: 460px;
}

.authfy-panel-left .brand-col {
  display: table;
  width: 100%;
  padding: 25px;
}

.authfy-panel-left .brand-col .headline {
  display: table-cell;
  vertical-align: middle;
}

.authfy-panel-left .brand-col .headline h1,
.authfy-panel-left .brand-col .headline h2,
.authfy-panel-left .brand-col .headline h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}



.authfy-login {
  position: relative;
  top: 0;
  left: 0;
  /* overflow: hidden; */
}

.authfy-panel {
  padding: 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  opacity: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.authfy-panel .authfy-heading {
  margin-bottom: 30px;
}

.authfy-login .auth-title {
  font-weight: 700;
}

.authfy-login .authfy-panel.active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.brand-col .social-buttons a {
  color: #ffffff;
  margin-top: 15px;
}

.brand-col .social-buttons a:hover {
  color: white;
  opacity: 0.9;
}

.brand-col .social-buttons .btn-facebook {
  background: #3b5998;
  border-radius: 12px;
}

.brand-col .social-buttons .btn-twitter {
  background: #00aced;
  border-radius: 12px;
}

.brand-col .social-buttons .btn-google {
  background: #c32f10;
  border-radius: 12px;
}

.brand-col .social-buttons a>span {
  padding-left: 5px;
}

.panel-login {
  margin-top: 20px;
}

.panel-login .remember-row {
  margin-bottom: 10px;
}

.panel-login .remember-row label {
  font-weight: normal;
  position: relative;
  cursor: pointer;
  color: #666;
  padding-left: 24px;
}

.authfy-login .forgotPwd {
  text-align: right;
  margin-top: 10px;
}

.panel-login .form-control,
.panel-signup .form-control,
.panel-forgot .form-control {
  background-color: #fff;
  color: #333333;
  font-size: 18px;
  height: 50px;
  margin-bottom: 20px;
  padding: 12px 22px;
  border-radius: 13px;
  border: solid 1px #bcc2ce;
  outline: none;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.authfy-panel.panel-forgot {
  padding-top: 40px;
}

.panel-login .form-control:focus,
.panel-signup .form-control:focus,
.panel-forgot .form-control:focus {
  border-color: #4f77ff;
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

/* .pwdMask {
  position: relative;
} */

.pwdMask .pwd-toggle {
  color: #cccccc;
  position: absolute;
  z-index: 2;
}

.panel-login .pwdMask .pwd-toggle,
.panel-signup .pwdMask .pwd-toggle {
  top: 15px;
  right: 15px;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus {
  cursor: pointer;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle.fa-eye {
  color: #4f77ff;
}

.panel-signup .term-policy a {
  text-decoration: underline;
}

/*--------------------*/
/* 04. Check box UI CSS */
/*--------------------*/

.checkbox input[type="checkbox"] {
  position: absolute;
  right: 9000px;
}

.checkbox input[type="checkbox"]+.label-text:before,
.checkbox input[type="checkbox"]+.label-text:after {
  font-size: 11px;
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 2px;
  margin-left: 0;
  position: absolute;
  top: 2px;
  left: 0;
}

.checkbox input[type="checkbox"]+.label-text:before {
  content: "";
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox input[type="checkbox"]+.label-text:after {
  background-color: #4f77ff;
  color: #ffffff;
  border-radius: 2px;
  border-color: #4f77ff;
  line-height: 1.4;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:focus+.label-text:before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+.label-text:after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.brand-title {
  font-family: 'Titillium Web', sans-serif;
  color: #2d385e;
  text-align: center;
  font-weight: 700;
}

/*--------------------*/
/* 05. Responsive CSS */
/*--------------------*/

@media (min-width: 768px) {

  .authfy-panel {
    padding: 20px;
  }


}

@media (max-width: 767px) {

  .authfy-panel-left,
  .authfy-panel-right {
    box-shadow: none;
  }

  .authfy-panel-left {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .authfy-panel-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .authfy-panel-left .brand-col {
    height: 300px;
    text-align: center;
  }

  .term-policy {
    font-size: 75%;
  }
}

@media (min-width: 320px) and (max-width: 375px) {

  body {
    background-size: cover;
  }

  .authfy-login .authfy-panel {
    padding: 20px;
  }

  .panel-login .remember-row {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .authfy-login {
    height: 480px;
  }

  .authfy-heading p {
    font-size: 14px;
  }

  .remember-row .col-sm-6 {
    width: 100%;
  }

  .authfy-login .forgotPwd {
    text-align: left;
    margin-top: 0px;
  }

}


@media (min-width: 1200px) {
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }

}




@media (min-width: 768px) {

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
}

.line-form {
  border-right: 1px solid black;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.btn-back {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background-color: rgba(120, 120, 120, 1);
}

.otp fieldset,
.otp input {
  border: none;
  float: left;
}

/* form {
  display: flex;
  justify-content: center;
} */
.otp fieldset {
  display: block;
}

fieldset input {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  float: left;
  border: none;
  margin-right: 20px;
  text-align: center;
  border-bottom: 1px solid black !important;
}

fieldset input:focus {
  border: 1px solid rgba(150, 150, 150, 1);
}

.otp-page-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 57vh;
  padding: 20px;
}

.otp-content-wrapper {
  font-size: 1.1rem;
  margin-top: 50px;
  text-align: center;

}

.mobile-number-confirmation {
  color: orange;
  font-size: .9rem;
}

.havent-received {
  color: blue;
  padding: 5px 17px;
  background-color: #07A2FF;
  border-radius: 19px;
  /*text-align: center;*/
  cursor: pointer7
}

.p_button {
  text-align: center;
  color: white;

}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.bike-box {
  margin-left: 3rem;
  margin-right: 2rem;
}

.link-box small {
  color: white;
  font-size: 13px;
}

.link-box span {
  font-size: 16px;
}

.intro-bike p {
  color: black;
  font-size: 27px;
  margin: 0;
  font-weight: 900;
  font-family: sans-serif;

}

.intro-img {
  padding-bottom: 500px;
}

.who-we-box-box {
  padding: 70px 60px;
  /* border-bottom: 10px solid #fbba42; */
}

.link-box-btn a {
  background-image: linear-gradient(to bottom, #0066ff 0%, #00adef  100%);
  padding: 6px 16px;
  border-radius: 18px;
  color: white;
}

.txt-spacing {
  letter-spacing: 2px;
}

.maruti-suzuki {
  font-size: 600;
  border-bottom: 1px solid #DDD;
}

.tab-border {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.nav-img img {
  width: 58px;
}

.about-product {
  border-bottom: 1px solid #ddd;
}

.specification h6 {
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.specification h4 {
  color: black;
}

.form-select {
  padding: 16px 13px;
}

.delivery-address {
  border-top: 1px solid #ddd;
}

.comapre-all input {
  color: #00adef  !important;
}

.btn-primary {
  width: 100%;
  height: 78%;
  background-color: #00adef  !important;
}

.accordion {
  width: 100%;
  max-width: 1000px;
  /* margin: 2rem auto; */
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 2.5rem;
  line-height: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  background: #e5e5e5;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

.faq h4 {
  color: black;
}

.otp-field {
  width: 38px;
  margin-right: 10px;
  padding-left: 12px;
  height: 40px;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: white;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-sizeLarge.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.username {
  font-size: 13px;
  margin: 0px;
}

.otpButton {
  display: flex;
  justify-content: center;
}

.verify-btn {
  background-color: #0066ff;
}

.otp-container {
  padding-top: 74px;
  padding-bottom: 52px;
}

#stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.css-dqr9h-MuiRating-label {
  cursor: inherit;
  font-size: 26px;
  color: #faaf00;
}

.product_descripton {
  white-space: nowrap;
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navResponsive {
  display: flex;
  flex-flow: wrap;
  /* overflow: scroll; */
}

.navResponsive::-webkit-scrollbar {
  display: none;
}


/* MOBILE RESPONSIVE */
@media screen and (max-width: 450px) {
  .buy-logo img {
    width: 35%;
}
}

